/* --------------------------------------
=========================================
RESPONSIVE FIXES
=========================================
-----------------------------------------*/

@media (min-width: 992px) and (max-width: 1039px) {
  .navbar-brand, .nav-center {
    width: 230px;
  }
} 

 @media (max-width: 991px) {
     
     .pull-right, 
     .pull-left {
         float: none !important;
         margin: auto;
     }
     
     .text-left,
     .text-right {
         
         text-align: center;
     }
     
     .side-screenshot {
         margin-bottom: 40px;
     }
     
     .feature-list-1 {
         margin-top: 0;
     }
     
     .feature-list-1 li .icon-container {
         float: left !important;
     }
     
     .feature-list-1 li p {
         text-align: left !important;
     }
     .feature-list-2 li .icon-container {
         margin-right: 0;
         margin: auto;
         margin-bottom: 10px;
     }
     
/*     .product-img {
	 	     width: 100% !important;
	   }*/

     
     .intro-section {
         margin-bottom: 50px;
         margin-top: 0;
     }
     
      .nav-center {
  		display: none!important;
  	 }
  	 .navbar-header {
  		width: 90% !important;
  		text-align: center;
      }
      .cta-4 p {
        font-size: 16px;
      }
      .cta-4 {
        width: 100%;
      }
      .cta-4.leftParagraph {
        padding-bottom: 5px;
      }
      .cta-4.rightParagraph {
        padding-top: 5px;
      }
      .cta-4.rightParagraph p {
        padding-top: 0px;
      }
      .feature p {
        font-size: 16px;
      }
      .col-md-4 {
        /*float: left;*/
      }


 }

@media (min-width: 768px) and (max-width:  830px) {
  .navbar-header {
    width: 100% !important;
  }
}
 
@media (min-width: 768px) and (max-width: 991px) { 
    
    html {
        font-size: 90%;
    }
    
     #home {
     	/*min-height: 900px !important;*/
     }
    
    .sticky-navigation .navbar-header {
        position: relative;
        text-align: center;
        margin-top: 10px;
    }
    
    .sticky-navigation .navbar-header a {
        float: none !important;
    }
    
    .navbar {
		background: #ffffff url("../images/baxters-logo-small.jpg") no-repeat fixed center 10px !important;
		background-size: 100px !important;
	}
    .sticky-navigation , .non-sticky {
	    min-height: 100px;
    }
    .sticky-navigation .main-navigation {
    	padding-top: 5px;
	}
     
     .feature-list-1 {
         float: left;
         font-size: 16px;
         line-height: 25px;
     }
     .feature-list-1 li p {
         font-size: 16px;
         line-height: 25px;
     }
     #cta-5 {
      margin-top: 15%;
     }
     #cta-5 img {
      top: 0px;
     }
    
}


@media(max-width:767px) {
    
	html {
		font-size: 80%;
	}


	 #home {
     	/*min-height: 550px !important;*/
     }

	header,
	.cta-section {
		background-attachment: scroll !important;
	}

	.navigation-header {
		padding-top: 0px;
		padding-bottom: 10px;
	}
	
	.navbar-inverse .navbar-collapse {
		border-color: #ececec;
		width: 100%;
	}
	
	.navbar-nav {
    	margin: 0;
    	padding-top: 20px;
	}
	
	.navbar-header {
		width: 100% !important;
		text-align: center;
    }
    
    .navbar {
		background: #ffffff url("../images/baxters-logo-small.jpg") no-repeat fixed center 4px !important;
		background-size: 85px !important;
	}
  
    .sticky-navigation .main-navigation {
    	padding-top: 0;
	}
    
    .navbar-toggle {
		background: #727272;
	}
    
    .sticky-navigation, .non-sticky {
    	min-height: 0;
    }
    
    .sticky-navigation .navbar-nav > li > a, .non-sticky .navbar-nav > li > a {
		width: 100%;
    }
    
	.nav ul {
		width: 100%;
	}
	
	.nav>li {
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	.nav a {
		border-top: 1px solid #b3a16f;
		top: 0 !important;
	}

	.nav-left, .nav-right {
		width: 100% !important;
	}
	.col-md-4{width: 100% !important;}
	
    
	.intro {
		text-align: center !important;
	}
	
	.button-container {
	    margin-top: 10px;
	    margin-bottom: 70px;
	    padding: 10px;
	}
	
	.intro-section .sub-heading {
	    font-size: 15px;
	    line-height: 25px;
	}

	.section1,
    .section2,
    .section3,
    .section4,
    .section5,
    .section6,
    .section7 {
		padding-top: 75px;
		/*padding-bottom: 75px;*/
	}
	
	.section3 {
		background-size: 680px;
    padding-top: 120px;
	}

	.feature-list-1 {
		width: 80%;
		margin: auto;
	}

	.feature-list-1 li p {
		font-size: 16px;
		line-height: 25px;
	}

	.vertical-registration-form {
		max-width: 80%;
	}

	.subscription-form .input-box {
		margin: auto;
		width: 80%;
		margin-bottom: 10px;
		margin-top: 25px;
	}
  .navigation-header {
    padding-top: 0px;
  }
  .contact-form,
  .contact-form .field-wrapper {
    font-size: 16px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
	
}

@media (max-width:650px){
  .cta-4{width: 100% !important;}
  #cta-5 img {
    top: 0px;
  }
  .contact-us h1.heading {
    font-size: 30px;
  }
  .contact-us h3 {
    font-size: 16px;
    font-weight: normal;
  }
  p.colored-text {
    font-size: 20px;
  }
  .headerImage {
    /*padding-top: 25%;*/
  }
}
 
@media(max-width:480px) {
    
	html {
		font-size: 65%;
	}

	.feature-list-1 {
		display: none;
	}

	body {
		font-size: 13px;
		line-height: 21px;
	}
	
	.button-container {
	    margin-bottom: 40px;
	}

	.feature-list-1 {
		width: 80%;
	}

	.vertical-registration-form {
		max-width: 100%;
	}
  h1 {
    font-size: 30px;
  }

	h4 {
		font-size: 18px;
		line-height: 28px;
	}

	h5 {
		font-size: 16px;
		line-height: 24px;
	}

	h6 {
		font-size: 14px;
		line-height: 22px;
	}

	.standard-button,
    .secondary-button,
    .secondary-button-white {
		font-size: 16px;
		min-width: 100px;
    min-height: 50px;
		padding: 15px 30px 16px;
	}
}