/*---------------------------------------
   1. IMPORT GOOGLE WEB FONTS
-----------------------------------------*/

/*@import url(http://fonts.googleapis.com/css?family=Source+Lucida+Grande:400,700,400);*/


/*=========================================
   2. GLOBAL STYLES
=========================================
-----------------------------------------*/

/*---------------------------------------
   2.1 GENERAL STYLES
-----------------------------------------*/

@media (max-width:1350px){

  .colored-text {font-size: 18px;line-height: 1.5;}
  .product-block{display:block; float:left; width:50% !important;}

  /***** About Baxster Desktop *****/
  #div-history-years-enumerate {display: none;}
  #div-carousel-history-years-enumerate {display: none;}
  #history-years-enumerate {display: block;}
  #div-desktop-history-years-enumerate {display: block;}
}
@media (min-width: 1200px) {
  .contact-us .container {max-width: 980px;

  }

  /***** About Baxster Desktop *****/
  #div-history-years-enumerate {display: none;}
  #div-carousel-history-years-enumerate {display: none;}
  .history-years-enumerate {display: block;}
  #div-desktop-history-years-enumerate {display: block;}

  #div-desktop-history-years-enumerate {
    width: 100%;
  }
  #div-desktop-history-years-enumerate .centre-bar {
    width: 4.1%;
  }
  #div-desktop-history-years-enumerate .div-alternate-gold .centre-bar {
    left: 6.4%;
  }
  #div-desktop-history-years-enumerate .row {
    bottom: 20px;
  }
  #div-desktop-history-years-enumerate .img-history-year-indicator {
    top: 108px;
    left: -12%;
    position: absolute;
  }
  #div-desktop-history-years-enumerate .horizontal-bar {
    width: 10.3%;
  }
  #div-desktop-history-years-enumerate .div-alternate-red .horizontal-bar {
    left: -3%;
  }
  #div-desktop-history-years-enumerate .div-alternate-gold .horizontal-bar {
    left: 6.5%;
  }
  #div-desktop-history-years-enumerate .div-alternate-red .history-picture {
    top: 0;
    left: -14.5%;
  }
  #div-desktop-history-years-enumerate .div-alternate-gold .history-picture {
    top: -10px;
    left: 17%;
  }
  #div-desktop-history-years-enumerate h2 {
    line-height: 40px;
    margin: 25px 0 25px;
  }
  /***** End of About Baxster Desktop *****/
}
@media (max-width:1200px){
	.places img{width: 100% !important; height: auto; }
  .features .container {
    width: 100%;
  }
.ingrediant h5{line-height:20px !important;}
#products .top-feature{margin-top:160px !important;}

  /***** About Baxster Desktop *****/
  #div-history-years-enumerate {display: none;}
  #div-carousel-history-years-enumerate {display: none;}
  #history-years-enumerate {display: block;}
  #div-desktop-history-years-enumerate {display: block;}

  #div-desktop-history-years-enumerate .div-alternate-red .img-history-year-indicator {
    top: 33%;
    left: -17%;
    position: absolute;
  }
  #div-desktop-history-years-enumerate .div-alternate-gold .img-history-year-indicator {
    top: 28%;
    left: -18%;
    position: absolute;
  }
  #div-desktop-history-years-enumerate .centre-bar {
    width: 4.1%;
  }
  #div-desktop-history-years-enumerate .horizontal-bar {
    width: 12%;
  }
  #div-desktop-history-years-enumerate .div-alternate-red .centre-bar {
    left: 1%;
  }
  #div-desktop-history-years-enumerate .div-alternate-gold .centre-bar {
    left: 5.7%;
  }
  #div-desktop-history-years-enumerate .div-alternate-red .horizontal-bar {
    left: -1%;
  }
  #div-desktop-history-years-enumerate .div-alternate-gold .horizontal-bar {
    left: 5%;
  }
  #div-desktop-history-years-enumerate .div-alternate-red .history-picture {
    left: -8%;
  }
  #div-desktop-history-years-enumerate .div-alternate-gold .history-picture {
    left: 11.5%;
  }
  #div-desktop-history-years-enumerate .history-by-words {
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;
  }
  #div-desktop-history-years-enumerate h2 {
    font-size: 32px;
    line-height: 34px;
    margin-top: 25px;
  }

  /***** Custom *****/
  #div-desktop-history-years-enumerate #div_1868d .img-history-year-indicator {
    top: 23%;
  }
  #div-desktop-history-years-enumerate #div_1952d .img-history-year-indicator {
    top: 30%;
  }
  #div-desktop-history-years-enumerate #div_1955d .img-history-year-indicator {
    top: 31%;
  }
  #div-desktop-history-years-enumerate #div_1960sd .img-history-year-indicator {
    top: 31%;
  }
  #div-desktop-history-years-enumerate #div_1962d .img-history-year-indicator {
    top: 35%;
  }
  #div-desktop-history-years-enumerate #div_1970sd .img-history-year-indicator {
    top: 31%;
  }
  #div-desktop-history-years-enumerate #div_1970s1d .img-history-year-indicator {
    top: 32%;
  }
  #div-desktop-history-years-enumerate #div_1980sd .img-history-year-indicator {
    top: 30%;
  }
  #div-desktop-history-years-enumerate #div_1992d .img-history-year-indicator {
    top: 34%;
  }
  #div-desktop-history-years-enumerate #div_todayd .img-history-year-indicator {
    top: 27%;
  }

  /***** End of About Baxster Desktop *****/
}


@media (max-width:990px){
.section4 {padding-top: 200px !important;}
.list-block li {text-align: left !important;}
.recipe-body{display:block; float:left;width:100%;padding-left:75px; text-align: left !important;}
.method-box2{border:0px !important;padding:0px !important;}
  /***** About Baxster Desktop *****/
  #div-history-years-enumerate {display: none;}
  #div-carousel-history-years-enumerate {display: none;}
  #history-years-enumerate {display: block;}
  #div-desktop-history-years-enumerate {display: block;}

  /***** Custom *****/
  #div-desktop-history-years-enumerate #div_1868d .centre-bar {
    height: 600px !important;
  }
  #div-desktop-history-years-enumerate #div_1916d .centre-bar {
    height: 460px !important;
  }
  #div-desktop-history-years-enumerate #div_1923d .centre-bar {
    height: 380px !important;
  }
  #div-desktop-history-years-enumerate #div_1929d .centre-bar {
    height: 420px !important;
  }
  #div-desktop-history-years-enumerate #div_1952d .centre-bar {
    height: 400px !important;
  }
  #div-desktop-history-years-enumerate #div_1955d .centre-bar {
    height: 430px !important;
  }
  #div-desktop-history-years-enumerate #div_1960sd .centre-bar {
    height: 420px !important;
  }
  #div-desktop-history-years-enumerate #div_1970s1d .centre-bar {
    height: 410px !important;
  }
  #div-desktop-history-years-enumerate #div_1992d .centre-bar {
    height: 380px !important;
  }
  #div-desktop-history-years-enumerate #div_todayd .centre-bar {
    height: 520px !important;
  }

  #div-desktop-history-years-enumerate #div_1868d .img-history-year-indicator {
    top: 18%;
  }
  #div-desktop-history-years-enumerate #div_1916d .img-history-year-indicator {
    top: 23%;
  }
  #div-desktop-history-years-enumerate #div_1923d .img-history-year-indicator {
    top: 29%;
  }
  #div-desktop-history-years-enumerate #div_1929d .img-history-year-indicator {
    top: 26%;
  }
  #div-desktop-history-years-enumerate #div_1952d .img-history-year-indicator {
    top: 27%;
  }
  #div-desktop-history-years-enumerate #div_1955d .img-history-year-indicator {
    top: 25%;
  }
  #div-desktop-history-years-enumerate #div_1960sd .img-history-year-indicator {
    top: 25%;
  }
  #div-desktop-history-years-enumerate #div_1970s1d .img-history-year-indicator {
    top: 27%;
  }
  #div-desktop-history-years-enumerate #div_1992d .img-history-year-indicator {
    top: 28%;
  }
  #div-desktop-history-years-enumerate #div_todayd .img-history-year-indicator {
    top: 21%;
  }

  /***** End of About Baxster Desktop *****/
}

@media (max-width: 767px) {
.section4{min-height:auto !important;padding-bottom: 0px !important;}
.section3{padding-bottom: 0px !important;}
#about-baxters{padding-top:0px !important;}
.section6 img{width: 100%;}
.recipe-column{display:block; float:left;width:100% !important;}
/*.method-box2{text-align:center !important;}*/
.recipe-body{padding-left:20px;}
.list-block{padding-left:30px !important;}
.heading1 {line-height:75px;line-height: 65px;}
.infor-more{width:100%}

  /***** About Baxster Desktop *****/
  #div-history-years-enumerate {display: block;}
  #div-carousel-history-years-enumerate {display: block;}
  #history-years-enumerate {display: none;}
  #div-desktop-history-years-enumerate {display: none;}
  /***** End of About Baxster Desktop *****/
}

@media(max-width:620px){
.ingrediant{width:100% !important;}
}

@media (max-width:450px){
	.features{margin-left: 0px !important; margin-right: 0px !important;}
	.places {width: 100% !important;}
	.section-button img{width: 100% !important;}
	.signature {padding-left:0px !important; width:125%;}
	.ingrediant h5{line-height:20px !important;}
	.recipe-body{padding-left:5px;}
	#baxters-for-home{padding-left:10px !important; padding-right:10px !important;}
	.ingrediant-container{padding-left:0px !important; padding-right:0px !important;}
}

@media (max-width:380px){
.product-img, .product-img1{width:100% !important;}
.section1, .section2, .section3, .section4, .section5, .section6, .section7{padding-bottom:0px !important;}
.nutritional-block{padding-top:20px;}
.ingredient-product-img{width:100%};
}

@media(max-width:320px){
.container{padding-left:0px !important; padding-right:0px !important;}
}

html {
	font-size: 100%;
}

body {
	background: #ffffff;
	font-family: 'Lucida Grande', sans-serif;
	font-size: 16px;
	color: #727272;
	line-height: 25px;
	text-align: center;
	overflow-x: hidden !important;
	margin: auto !important;
	/*padding-top: 350px !important; /* Offsetting the body to compensate for fixed-nav */
}



/*---------------------------------------
   2.2 PRE LOADER
-----------------------------------------*/
#home{min-height:auto !important;}
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}

.status {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	margin: -20px 0 0 -20px;
}

.tab-pane {padding-top:30px;}
.nav>li>a{top:0px !important;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{border-top:0px !important; border-left:0px !important;background-color:#eee;border-bottom: 1px solid #fff;}
.nav-tabs li{width:50% !important;}
.recipe-box {border: 1px solid #ddd; padding-left:0px! important; padding-right:0px !important;}
.nav-tabs{border-bottom:0px !important; }
.nav-tabs .tab-pane{background-color:#f2f2f2;}
.nav-tabs a{font-family: Georgia, 'Times New Roman', Times, serif; font-size:26px; color:#b70e0c; }
.ingrediant{display:block; float:left; padding:10px; text-align: left; line-height: 20px;}
.ingrediant-container{display:block; float:left; padding-right: 175px; padding-top:15px;}
.ingrediant h5{font-family: 'Lucida Grande', sans-serif !important; line-height: 0px; padding-top: 22px;}
.ingredient-text{text-align: left; padding-left: 10px !important; width:70%; color:#cc0000;}
.nutritional-table td{text-align: left;border:none !important;}
.nutritional-table td{color:#b9a77b;}
.nutritional-block{display:block; float:left;}
.timing{color:#b3a06e;}
.infor-more{display:block; float:left;padding:5px;}
.ingredient-product-img{padding-top:20px;}
.infor-more p{ color:#cc0000;font-family: Georgia, 'Times New Roman', Times, serif !important; font-size:18px !important; padding-top:6px !important;}
.method{width:70%;}
.method p{text-align: left !important; color:#865d33;}
.method-box1{text-align:left;}
.method-box2{text-align:left; border-left:1px solid #cccccc;padding-left: 75px;}
.print-icon{text-align:right; display:block;}
.print-icon div{display:block; float:right; padding-left:10px;}
.full-line{width:100% !important;}
.suggested-products{padding-top:50px;}
.ingredient-checklist ul li{list-style-image: url(../images/list-icon.jpg) !important; font-family: 'Lucida Grande', sans-serif !important; font-size:18px; color:#c43f3d; line-height: 30px;}
.recipe-column{display:block; float:left;width:50%;}
.print{padding-right:15px;}
/*---------------------------------------
   2.3 ANCHOR AND BOLD TEXT
-----------------------------------------*/
a {
	text-decoration: none;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}

a:hover {
	text-decoration: underline;
}

a:focus {
	outline: inherit;
	color: inherit;
}

strong {
	font-weight: 700;
}

.strong {
	font-weight: 700;
}


/*---------------------------------------
   2.4 MISC FIXES
-----------------------------------------*/
@-webkit-viewport {
	width: device-width;
}

@-moz-viewport {
	width: device-width;
}

@-ms-viewport {
	width: device-width;
}

@-o-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul,
ol {
	padding-left: 0 !important;
}

li {
	list-style: none;
}

/* --------------------------------------
=========================================
   3. COMPONENTS
=========================================
-----------------------------------------*/

/*---------------------------------------
   3.1 BACKGROUND COLORS AND LINE
-----------------------------------------*/

.dark-bg {
	background: #323232;
	color: #ffffff;
}

.color-bg {
	color: #ffffff;
}

.bgcolor-2 {
	background: #f7f8fa;
}

.bgcolor-white {
	background: #ffffff;
}

.colored-line {
	height: 1px;
	width: 70px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}


/*---------------------------------------
   3.2 TYPOGRAPHY
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	/*font-family: 'Lucida Grande', sans-serif;*/
	color: #b70e0c;
	margin-bottom: 0;
	margin-top: 0;
}

h1 {
	font-size: 48px;
	line-height: 3.75rem;
	font-weight: 500;
}

h2 {
	font-size: 2.188rem;
	line-height: 3.125rem;
	font-weight: 500;
}

h3 {
	font-size: 1.5rem;
	line-height: 2.375rem;
	font-weight: 600;
}
.method-box h3{text-align: left !important;}

h4 {
	font-size: 1.25rem;
	line-height: 2rem;
	font-weight: 600;
}

h5 {
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
}



h6 {
	font-size: 16px;
	line-height: 25px;
	font-weight: 700;
	color:#c0aea0;
}


.heading1{font-family: Georgia, 'Times New Roman', Times, serif; font-size:70px; color: #ffffff; padding-top:10%;line-height: 65px;}
.product-text{padding-top: 30px; padding-left: 2%; padding-right: 2%; color:#997a5d;}
.about-text {padding-top: 30px; padding-left: 2%; padding-right: 2%; color:#997a5d; font-size: 40px; line-height: 40px;}
hr{ border-top: 1px solid #c6b892;  width: 80%; margin-top:20px;}
p{font-family: 'Lucida Grande', sans-serif; font-size: 18px;}
.find-out{text-decoration:underline; color:#865d33;font-family: 'Lucida Grande', sans-serif; font-size: 18px;}
/*---------------------------------------
   3.3 BUTTONS
-----------------------------------------*/
.btn:focus,
.btn:active,
.btn,
.open .dropdown-toggle.btn {
	outline: inherit;
	border-color: inherit;
}

.standard-button {
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 0;
	padding: 15px 30px;
	border: 0;
	margin: 5px;
	line-height: inherit;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}
.standard-button{
	background-color: #b3a06e !important; color: #000000; text-transform: none;
}
.footer-block{
    	margin: 20px;
    }

.where-to{color:#b3a06e; font-size:37px;font-family:Georgia, "Times New Roman", Times, serif; padding-top: 25px;}
.where-to-find {
	font-family: 'Georgia', serif;
	color: #fff;
	font-size: 24px;
	font-weight: normal;
}


.secondary-button {
	font-family: 'Lucida Grande', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 15px 30px;
	border: 0;
	margin: 5px;
	border: 1px solid #727272;
	color: #323232;
	background: #ffffff;
	line-height: inherit;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}

.secondary-button-white {
	font-family: 'Lucida Grande', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 14px 30px;
	border: 0;
	margin: 5px;
	border: 1px solid #727272;
	color: #ffffff;
	background: transparent;
	line-height: inherit;
	border: 1px solid rgba(255,255,255,0.5)
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}

.secondary-button-white:hover {
    border: 1px solid rgba(255,255,255,1);
    color: #ffffff;
}

/* --------------------------------------
=========================================
   4. SECTION SPECIFIC CSS
=========================================
-----------------------------------------*/

section {
    padding-top: 100px;
    /*margin-top: -200px;*/
}

#about-baxters{padding-top:0px !important;}


/*---------------------------------------
   4.1 SECTIONS PADDING AND COLOR OVERLAY
-----------------------------------------*/
.section1,
.section2,
.section3,
.section4,
.section5,
.section6,
.section7 {
	padding-top: 75px;
	padding-bottom: 30px;
	width: 100%;
}
.section3{
padding-top:50px !important;
  padding-bottom: 0px;
}
.section12 {
padding-top:0px !important;
background-color:#000000;
}

.section5{padding-top:20px !important;}
.section6{padding-top:30px !important;}
.color-overlay {
	/*background: rgba(0, 0, 0, 0.6);*/
}

.col-md-4 p{
	color: #865d33;
	font-size: 17px;
	font-family: "Lucida Grande",sans-serif;
}

.list-block li{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
    text-align: left;
    line-height: 30px;
	color:#b3a06e;
}
.list-block a{
text-decoration:none;
color:#b3a06e;
}
.list-block  a:active{
color:#ffffff;
}
/*========================================
   4.2 SECTION: HOME
==========================================*/

/*---------------------------------------
   4.2.1 BASIC STYLES
-----------------------------------------*/
header {
	background: url(../images/header_img.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	width: 100%;
}

/*
.about header {
  background: url(../images/header-about-img.jpg) no-repeat;
}
*/

header .vertical-registration-form {
	margin-top: 60px;
}

.navigation-header .container {
	width: 100% !important;
}


.intro-section {
	margin-bottom: 250px;
	/*margin-top: 150px;*/
}

.intro {
	color: #ffffff;
}



.intro-section .sub-heading {
    font-size: 20px;
    padding-right: 10%;
    padding-left: 10%;
    color: #b70e0c;
    margin-top: 40px;
    line-height: 30px;
}
.sub-heading {
	color: #b70e0c;
	font-size: 24px;
	padding-top: 40px;
	line-height: 35px;
	font-family: "Lucida Grande",sans-serif;
}
.button-container {
    margin-top: 135px;
    margin-bottom: 25px;
}
#cta-5 img {
	width: 90% !important;
	position: relative;
    top: 40px;
}

.signature {padding-left:100px;}
.section-button{padding-bottom: 30px;}

/*---------------------------------------
   4.2.2 NAVIGATION
-----------------------------------------*/

/* NAV RESETS */
.navbar-nav > li > a:hover {
	background: inherit;
}

.nav li a {
	padding: 10px 10px;
}

/* NORMAL NAVIGATION WITH SOCIAL ICON AND LOGO ONLY */
.non-sticky .navbar-nav.navbar-right:last-child {
	margin-right: 0;
}

.non-sticky .navbar-nav > li > a {
	font-size: 20px;
	padding: 0;
	padding-left: 5px;
	padding-top: 3px;
	color: #ffffff;
}

/* STICKY NAVIGATION */
.sticky-navigation, .non-sticky {
	min-height: 160px;
	background: #ffffff;
	-webkit-backface-visibility: hidden;
	border: 0;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
}

/* Center the navigation */
.navbar-header {
  	max-width: 1105px !important;
    width: 100%;
    margin: 0 auto !important;
    float: none !important;
    text-align: center !important;
}

.sticky-navigation .main-navigation {
	padding-top: 30px;
}

.sticky-navigation .main-navigation .current a, .non-sticky .main-navigation .current a {
	-webkit-backface-visibility: hidden;
	outline: inherit;
	position: relative;
}

.sticky-navigation .navbar-nav > li > a, .non-sticky .navbar-nav > li > a  {
	font-family: 'Lucida Grande', sans-serif;
	font-size: 16px;
	color: #000000;
	text-transform: none;
}

.navbar-nav > li > a:hover {
	color: #b3a16f !important;
}

.nav-left, .nav-right {
	display: inline-block !important;
	width: 380px;
	float: left;
}

.nav-left {
	border-bottom: 1px solid #b3a06e;
	text-align: right;
}

.nav-center {
	float: left;
}

.nav-right {
	border-bottom: 1px solid #b3a06e;
	text-align: left;
	width: 285px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0px;
}
.navbar-brand, .nav-center {
	width: 280px;
	padding: 0;
  margin: 0 10px;
}
.nav-center {
  padding-top: 15px;
}
.navbar-brand img {
	padding-right: 20px;
	padding-left: 20px;
  width: 100%;
}


.navbar-inverse .navbar-toggle {
    border-color: #b3a16f;
    background-color: #b70d0d;
}


/*========================================
   4.3 SECTIONS
==========================================*/

 #products{

	background: url(../images/bk-img-02.jpg) no-repeat left top;
}
.section4{
	background: url(../images/bk-img-03.jpg) no-repeat right top;

}

/* Offset the anchors by the menu's height */
#products, #about-baxters, #baxters-for-home, #contact-us {
	/*padding-top:350px;
	margin-top:-350px;*/
}

/*---------------------------------------
   4.3.1 BASIC STYLES
-----------------------------------------*/
.side-screenshot,
.side-screenshot2 {
	max-width: 532px;
}

.brief h2 {
	margin-top: 0;
	margin-bottom: 10px;
}

.brief p {
	margin-top: 45px;
}

.scrollToTop{
	position: fixed;
  z-index: 1;
	bottom: 0;
	right: 0;
	float: right;
	background: url(../images/top-icon.png) no-repeat 0px 10px;
	width: 100px;
	height: 100px;

}

/* MODAL */

.modal-header, .modal-footer {
	border: none;
}
.modal-header {
  position: relative;
  width: 100%;
  float: left;
  z-index: 10000;
}

.modal h2 {
	font-size: 55px;
	margin: 10px 0 40px;
}

.modal h3 {
	font-size: 48px;
	margin: 40px 0 20px 0;
	font-weight: 100;
}

.modal .close {
	font-size: 65px;
	font-weight: 100;
	line-height: 0.5;
	color: #444;
}

#privacy-policy p {
	text-align: justify;
	font-size: 14px;
}

#privacy-policy li{list-style: inherit !important; margin-left: 20px; text-align: left !important; padding-bottom: 10px; font-size: 14px;}

#privacy-policy h2{font-size: 35px !important;}
#privacy-policy h3{text-align: left; font-size: 18px;}

#privacy-policy .alpa-numbered {margin-left: 30px !important; font-size: 14px;}

#privacy-policy .roman-numbered  {margin-left: 60px !important; font-size: 14px; }

#privacy-policy .normal-list{list-style-type: square; margin-left: 30px; font-size: 14px;}

.legal {
	font-size: 16px;
	margin-bottom: 10px;
}

.legal:first-child {
	margin-top: 25px;
}


/*---------------------------------------
   4.3.2 FEATURE LIST
-----------------------------------------*/

.feature-list-2 {
	margin-top: 25px;
}

.feature-list-2 li {
	overflow: auto;
	padding-top: 12px;
	padding-bottom: 12px;
}

.product-img {
	/*width: 100%;*/
}

.feature h4 {
	font-weight: normal;
	font-size: 28px;
	padding: 40px 0 10px 0;
}

.section3 {
	background-size: 100%;
}

.container-footer{background: url(../images/where-to-buy-bg-img.jpg) no-repeat left bottom;}
.container span{color: #ffffff; font-size: 18px; text-decoration: underline;}
.container .footer-img{padding-bottom: 50px;}
.places{width: 33.333%; display: inline-block;float: left; padding-top: 50px;}
.places img {
  width: 100%;
}
.collapse1 {width: 50%; float: left;}
.collapse2 {width: 50%; float: right;}
.feature-list-2 li .icon-container {
	width: 32px;
	height: 32px;
	border-radius: 3px;
	color: #ffffff;
	line-height: 32px;
	margin-right: 15px;
	margin-top: 5px;
	text-align: center;
}

.feature-list-2 li .details {
	width: 89%;
}

.feature-list-2 li .details p {
	margin-top: 5px;
}


/*========================================
   4.4 SECTION: FEATURES
==========================================*/
.features {
	/*margin-top: 100px;*/
	margin-left: 100px;
  	margin-right: 100px;
}

.feature {
	margin-top: 40px;
	margin-bottom:40px;
}

.feature .icon {
	font-size: 50px;
	margin-bottom: 10px;
}
.icon{margin-bottom: 20px;}

.feature h4 {
	margin-bottom: 10px;
	line-height:26px;
}


/*========================================
   4.5 SECTION: PRICING TABLE
==========================================*/
.pricing-table {
	margin-top: 35px;
}

.package {
	overflow: auto;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	margin-top: 40px;
}

.package .header {
	padding-top: 20px;
	padding-bottom: 20px;
}

.package .header h3 {
	color: #ffffff;
}

.package-features .column-9p {
	width: 90%;
	float: left;
	text-align: left;
}

.package-features .column-1p {
	width: 10%;
	float: right;
	text-align: right;
	color: #323232;
}

.package-features .column-7p {
	width: 60%;
	float: left;
	text-align: left;
}

.package-features .column-3p {
	width: 40%;
	float: right;
	text-align: right;
}

.package-features ul li {
	overflow: auto;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 35px;
	padding-left: 35px;
	border-bottom: 1px dotted #e3e3e3;
}

.package-features .bottom-row {
	overflow: auto;
	padding-top: 8px;
	padding-bottom: 17px;
	padding-right: 35px;
	padding-left: 35px;
}

.package-features .bottom-row h6 {
	padding-top: 5px;
}

.package-features .bottom-row .secondary-button,
.package-features .bottom-row .standard-button {
	margin: 0;
	padding: 7px 15px;
	vertical-align: middle;
}

.cta-section9{background-color: #ffffff;}
.cta-section9 p{font-size: 24px; color: #865d33; padding-top: 40px; font-weight: bold; float: left; width: 100%; text-align: center;}

.cta-section10{/*background: url(../images/where-to-buy-bg-img.jpg) no-repeat left bottom; width: 100%; height: 253px;*/}
.cta-section11 {background: url(../images/footer-logo.jpg) no-repeat center top; background-color: #000000; height: 221px; width: 100%; padding-top: 40px;}

.contact-us h1{font-size: 48px; color: #b3a06e !important;}

/*========================================
   4.6 SECTION: VIDEO
==========================================*/
/*---------------------------------------
   4.6.1 BASIC STYLE / RESET
-----------------------------------------*/
video {
	max-width: 100%;
	height: auto;
}

iframe,
embed,
object {
	max-width: 100%;
}

.video-container {
	width: 100%;
	background: #ffffff !important;
	margin-top: 75px;
}

.video {
	background: #ffffff !important;
}


/*---------------------------------------
   4.6.2 VIDEO FEATURES
-----------------------------------------*/
.video-features {
	margin-top: 40px;
}

.video-features .inline-icon {
	padding-right: 5px;
}


/*========================================
   4.7 SECTION: SCREENSHOTS
==========================================*/
.screenshots {
	margin-top: 68px;
}

.shot {
	margin: 10px;
	border-radius: 3px;
	border: 5px solid #ffffff;
}

.shot img {
	max-width: 100%;
	width: 100%;
}

.shot img:hover {
	cursor: crosshair;
	opacity: 0.8;
}


/*========================================
   4.8 SECTION: CLIENTS AND FEEDBACKS
==========================================*/
/*---------------------------------------
   4.8.1 CLIENTS LOGO
-----------------------------------------*/
.clients {
	margin-top: 35px;
}

.client-logos li {
	display: inline-block;
	vertical-align: middle;
	margin: 15px;
}

/*---------------------------------------
   4.8.2 FEEDBACKS
-----------------------------------------*/

.testimonials {
	margin-top: 15px;
}

.single-feedback {
	position: relative;
	margin-top: 20px;
}

.single-feedback .client-pic {
	width: 48px;
	height: 48px;
	margin: auto;
	position: relative;
	margin-bottom: -24px;
	z-index: 999;
	border: 3px solid #ffffff;
	box-shadow: 0px 0px 0px 3px #f7f8fa;
}

.single-feedback .client-pic img {
	max-width: 100%;
}

.single-feedback .box {
	margin-right: 15px;
	margin-left: 15px;
	border-radius: 3px;
	position: relative;
	background: #f7f8fa;
	padding-top: 20px;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 0.75);
	-moz-box-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 0.75);
	box-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 0.75);
}

.single-feedback .box .message {
	padding: 25px;
	font-style: italic;
}

.single-feedback .box:after,
.single-feedback .box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.single-feedback .box:after {
	border-color: rgba(247, 248, 250, 0);
	border-top-color: #f7f8fa;
	border-width: 15px;
	margin-left: -15px;
}

.single-feedback .box:before {
	border-color: rgba(229, 229, 229, 0);
	border-top-color: #e5e5e5;
	border-width: 16px;
	margin-left: -16px;
}

.single-feedback .client-info {
	margin-top: 30px;
}

.single-feedback .client-info .client-name {
	line-height: 20px;
}

.single-feedback .client-info .company {
	font-size: 13px;
}


/*========================================
   4.9 SECTION: CALL TO ACTION
==========================================*/
/*---------------------------------------
   4.9.1 CALL TO ACTION WITH TEXT/BUTTON
-----------------------------------------*/
.cta-section {
	background: url(../images/bg-image-2.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	height: auto !important;
	width: 100% !important;
}

.cta-section h4 {
	color: #ffffff;
}
.cta-section h1{color: #b3a06e;}

.cta-4{
	display: inline-block;
	width: 50%;
	padding: 40px;
	color: #ffffff;
	float: left;
	text-align: left;
}

.cta-4 p{line-height: 30px; padding-top: 35px; font-size: 20px; font-family: "Lucida Grande",sans-serif;}

.cta-section h2 {
	color: #ffffff;
	font-weight: 700;
	margin-top: 15px;
	margin-bottom: 40px;
}

.cta-section h3 {
	color: #ffffff;
}

.cta-section .color-overlay {
	padding-top: 100px;
	padding-bottom: 125px;
}


/*---------------------------------------
   4.9.2 SUBSCRIBE FORM
-----------------------------------------*/
.subscribe-section {
	margin-top: 75px;
}

.subscription-form .input-box {
	width: 300px;
	margin-top: 25px;
	margin-bottom: 25px;
	height: 55px;
	border-radius: 3px;
	font-size: 16px;
	color: #000000;
	box-shadow: inherit;
}

.subscription-success,
.subscription-error {
    color: #FFFFFF;
}

/*========================================
   4.10 SECTION: CONTACT US
==========================================*/
/*---------------------------------------
   4.10.1 BASIC STYLES
-----------------------------------------*/
.contact-us {
	padding-top: 55px;
	padding-bottom: 75px;
	background-color: #000000;
}
.contact-us h3{color: #ffffff; font-size: 18px; font-family: "Lucida Grande",sans-serif; font-weight: normal;}

.contact-form .field-wrapper{text-align: left; color: #ffffff; font-size: 16px;}

.contact-us .heading {
	margin-bottom: 10px;
}

.contact-link {
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 50px;
}

.contact-link:hover {
	text-decoration: none;
}

.contact-link span {
	margin-right: 10px;
}

#cf-submit {
	width: 230px;
	min-height: 50px;
	font-size: 18px;
	margin: 30px 0 0 0;
	padding: 0;
}

#cf-submit2 {
	width: 230px;
	min-height: 50px;
	font-size: 18px;
	margin: 30px 0 0 0;
	padding: 0;
	background-color: #bb141a !important;
	color: #fff;
}


/*---------------------------------------
   4.10.2 CONTACT FORM
-----------------------------------------*/
.contact-form {
	margin-top: 25px;
}

.contact-form .success1,
.contact-form .success2,
.contact-form .error1,
.contact-form .error2 {
	display: none;
}
.contact-form .success1,
.contact-form .success2 {
  height: 380px;
  padding-top: 60px;
}

.contact-form .input-box,
.contact-form .textarea-box {
	margin-bottom: 15px;
	/*margin-top: 15px;*/
	outline: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #bbbbbb;
	border-radius: 0;
	color: #595959;
	padding-left: 12px;
	font-size: inherit;
	line-height: auto;
	background-color: #efefef;
}

#contact2 .input-box, #contact2 .textarea-box {
	color: #999999;
	background-color: #363636;
}

.contact-form .input-box {
	min-height: 50px;
}

.contact-form .textarea-box {
	min-height: 145px;
	height: 145px;
	-webkit-backface-visibility: hidden;
}

.contact-form .input-box:active,
.contact-form .textarea-box:active,
.contact-form .input-box:focus,
.contact-form .textarea-box:focus {
	color: #927053;
}

#contact2 .input-box:active,
#contact2 .textarea-box:active,
#contact2 .input-box:focus,
#contact2 .textarea-box:focus {
	color: #fff;
}

.contact-form .btn {
	margin-top: 25px;
}

label {
	color: #e5e5e5;
	text-align: left;
	font-weight: normal;
}

#contact2 label{
	color: #000;
}
.legal a {
  color: #b3a06e;
}
.legal span {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

/*========================================
   4.11 SECTION: FOOTER
==========================================*/
footer {
	padding-top: 75px;
	padding-bottom: 75px;
}

.footer-logo {
	max-width: 180px;
	margin: auto;
}

.copyright {
	margin-top: 15px;
	margin-bottom: 15px;
}

.social-icons li {
	display: inline;
	margin: 2px;
}

.social-icons li a {
	font-size: 25px;
	color: #919191;
}

.social-icons li a:hover {
	text-decoration: none;
}

#baxters-for-home{padding-left:100px; padding-right:100px;}
.where-to{width:100%;}

/*========================================
   4.12 About Baxster
==========================================*/

.history-years-enumerate {
  font-size: 35px;
  margin-bottom: 60px;
}

.alternate-red, .alternate-red:hover {
  color: #b70e0c;
  font-size: 27px;
}

.alternate-gold, .alternate-gold:hover {
  color: #865d33;
  font-size: 27px;
}

.div-alternate-red h2, .div-alternate-red small {
  color: #b70e0c;
}

.div-alternate-gold h2, .div-alternate-gold small {
  color: #865d33;
}


/***** Desktop *****/

#history-years-enumerate {
  margin-bottom: 80px;
}
#div-desktop-history-years-enumerate .centre-bar {
  background: url(../images/about/desktop-veritical-connector-bar.png) repeat-y;
  z-index: 900;
}
#div-desktop-history-years-enumerate .horizontal-bar {
  background: url(../images/about/desktop-horizontal-connector-bar.png) no-repeat;
  height: 50px;
  margin-top: 124px;
  z-index: 899;
}
#div-desktop-history-years-enumerate .div-alternate-red .col-xs-5 {
  padding-right: 40px;
}
#div-desktop-history-years-enumerate .div-alternate-gold .col-xs-5 {
  padding-left: 60px;
  margin-left: 55px;
}

#div-desktop-history-years-enumerate .history-picture {
  z-index: 900;
}
#div-desktop-history-years-enumerate .history-by-words {
  text-align: left;
}

#div-desktop-history-years-enumerate #div_1868d .centre-bar {
  height: 470px;
}
#div-desktop-history-years-enumerate #div_1916d .centre-bar {
  height: 380px;
}
#div-desktop-history-years-enumerate #div_1923d .centre-bar {
  height: 325px;
}
#div-desktop-history-years-enumerate #div_1929d .centre-bar {
  height: 370px;
}
#div-desktop-history-years-enumerate #div_1952d .centre-bar {
  height: 360px;
}
#div-desktop-history-years-enumerate #div_1955d .centre-bar {
  height: 350px;
}
#div-desktop-history-years-enumerate #div_1960sd .centre-bar {
  height: 350px;
}
#div-desktop-history-years-enumerate #div_1962d .centre-bar {
  height: 300px;
}
#div-desktop-history-years-enumerate #div_1970sd .centre-bar {
  height: 350px;
}
#div-desktop-history-years-enumerate #div_1970s1d .centre-bar {
  height: 330px;
}
#div-desktop-history-years-enumerate #div_1980sd .centre-bar {
  height: 360px;
}
#div-desktop-history-years-enumerate #div_1992d .centre-bar {
  height: 320px;
}
#div-desktop-history-years-enumerate #div_1993d .centre-bar {
  height: 330px;
}
#div-desktop-history-years-enumerate #div_todayd .centre-bar {
  height: 400px;
}


/***** Mobile *****/

#div-carousel-history-years-enumerate {
  margin: 0 auto 0 auto;
}

.carousel-history-years-enumerate div {
  font-size: 27px;
  display: inline;
}

#div-history-years-enumerate {
  width: 380px;
  margin-bottom: 50px;
  margin: 0 auto 0 auto;
}
#div-history-years-enumerate .dummy-opening {
  height: 5px;
}
#div-history-years-enumerate .dummy-opening .col-xs-1 {
  background: none;
  width: 33px;
  height: 20px;
  top: 40px;
}
#div-history-years-enumerate .dummy-opening .col-xs-2 {
  width: 70px;
  height: 100px;
  top: 50px;
  left: -10px;
}
#div-history-years-enumerate .dummy-opening .col-xs-9 {
  height: 100px;
  top: 50px;
}
#div-history-years-enumerate .img-history-year-indicator {
  width: 40px;
  height: 40px;
}

#div-history-years-enumerate .row {

}
#div-history-years-enumerate .col-xs-1 {
  background: url(../images/about/history-horizontal-stick.png) no-repeat;
  width: 33px;
  height: 20px;
  margin-top: 37px;
  text-align: left;
  left: -32px;
  z-index: 899;
}

#div-history-years-enumerate .col-xs-2 {
  background: url(../images/about/history-vertical-stick.png) repeat-y 30px 0;
  height: 265px;
  width: 70px;
  top: 20px;
  left: -10px;
  z-index: 900;
}
#div-history-years-enumerate .col-xs-9 {
  left: -47px;
  width: 230px;
  z-index: 900;
}
#div-history-years-enumerate .col-xs-9 .div-history-details {
  width: 230px;
}
#div-history-years-enumerate .col-xs-9 .btn-toggle {
  margin: 0;
  padding: 15px 0 15px;
  border-left: 1px solid #727272;
  border-right: 1px solid #727272;
  border-bottom: 1px solid #727272;
  width: 229px;
}
#div-history-years-enumerate .col-xs-9 .btn-toggle img {
  width: 20px;
  height: 20px;
  margin-left: 200px;
}
#div-history-years-enumerate .div-history-details-header h2 {
  line-height: 26px;
  font-weight: bold;
  font-size: 26px;
}
#div-history-years-enumerate .div-history-details-header small {
  font-size: 20px;
}
#div-history-years-enumerate .div-history-details-header {
  border-top: 1px solid #727272;
  border-left: 1px solid #727272;
  border-right: 1px solid #727272;
  margin-top: 5px;
  padding: 10px 0 10px;
  width: 229px;
}

#div-history-years-enumerate .history-by-words {
  display: none;
  margin: 0;
  padding-bottom: 10px;
  border-left: 1px solid #727272;
  border-right: 1px solid #727272;
  border-bottom: 1px solid #727272;
  width: 229px;
}
#div-history-years-enumerate .history-by-words p {
  font-size: 14px;
  color: #865d33;
  padding: 10px;
  text-align: left;
}
#div-carousel-history-years-enumerate {
  width: 260px;
}
.owl-pagination {
  display: none;
}
.owl-carousel {
  width: 260px;
}
.owl-item, .owl-item div {
  width: 85px;
}