/*---------------------------------------
   1. IMPORT GOOGLE WEB FONTS
-----------------------------------------*/

/*@import url(http://fonts.googleapis.com/css?family=Source+Lucida+Grande:400,700,400);*/


/*=========================================
   2. GLOBAL STYLES
=========================================
-----------------------------------------*/

/*---------------------------------------
   2.1 GENERAL STYLES
-----------------------------------------*/

@media (max-width:1350px){

  .colored-text {
  font-size: 18px;
  
  line-height: 1.5;
}
}
@media (min-width: 1200px) {
  .contact-us .container {
    max-width: 980px;
  }
}
@media (max-width:1200px){
	.places img{width: 100% !important; height: auto; }
  .features .container {
    width: 100%;
  }

}


@media (max-width:990px){
.section4 {padding-top: 200px !important;}
.list-block li {text-align: center !important;}

}
@media (max-width: 767px) {
.section4{min-height:auto !important;padding-bottom: 0px !important;}
.section3{padding-bottom: 0px !important;}
#about-baxters{padding-top:0px !important;}
.section6 img{width: 100%;}
}


@media (max-width:450px){
	.features{margin-left: 0px !important; margin-right: 0px !important;}
	.places {width: 100% !important;}
	.section-button img{width: 100% !important;}
	.signature {padding-left:0px !important; width:125%;} 
}

html {
	font-size: 100%;
}

body {
	background: #ffffff;
	font-family: 'Lucida Grande', sans-serif;
	font-size: 16px;
	color: #727272;
	line-height: 25px;
	text-align: center;
	overflow-x: hidden !important;
	margin: auto !important;
	/*padding-top: 350px !important; /* Offsetting the body to compensate for fixed-nav */
}



/*---------------------------------------
   2.2 PRE LOADER
-----------------------------------------*/
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}

.status {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	margin: -20px 0 0 -20px;
}

/*---------------------------------------
   2.3 ANCHOR AND BOLD TEXT
-----------------------------------------*/
a {
	text-decoration: none;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}

a:hover {
	text-decoration: underline;
}

a:focus {
	outline: inherit;
	color: inherit;
}

strong {
	font-weight: 700;
}

.strong {
	font-weight: 700;
}


/*---------------------------------------
   2.4 MISC FIXES
-----------------------------------------*/
@-webkit-viewport {
	width: device-width;
}

@-moz-viewport {
	width: device-width;
}

@-ms-viewport {
	width: device-width;
}

@-o-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul,
ol {
	padding-left: 0 !important;
}

li {
	list-style: none;
}

/* --------------------------------------
=========================================
   3. COMPONENTS
=========================================
-----------------------------------------*/

/*---------------------------------------
   3.1 BACKGROUND COLORS AND LINE
-----------------------------------------*/

.dark-bg {
	background: #323232;
	color: #ffffff;
}

.color-bg {
	color: #ffffff;
}

.bgcolor-2 {
	background: #f7f8fa;
}

.bgcolor-white {
	background: #ffffff;
}

.colored-line {
	height: 1px;
	width: 70px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}


/*---------------------------------------
   3.2 TYPOGRAPHY
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	/*font-family: 'Lucida Grande', sans-serif;*/
	color: #b70e0c;
	margin-bottom: 0;
	margin-top: 0;
}

h1 {
	font-size: 48px;
	line-height: 3.75rem;
	font-weight: 500;
}

h2 {
	font-size: 2.188rem;
	line-height: 3.125rem;
	font-weight: 500;
}

h3 {
	font-size: 1.5rem;
	line-height: 2.375rem;
	font-weight: 600;
}

h4 {
	font-size: 1.25rem;
	line-height: 2rem;
	font-weight: 600;
}

h5 {
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
}

h6 {
	font-size: 16px;
	line-height: 25px;
	font-weight: 700;
}


.heading1{font-family: Georgia, 'Times New Roman', Times, serif; font-size:70px; line-height:70px; color: #ffffff; padding-top:50px;}
.recipe-text{padding-top: 30px; padding-left: 9%; padding-right: 9%;}
hr{ border-top: 2px solid #a9a9a9;  width: 90%; margin-top:20px;}
p{font-family: 'Lucida Grande', sans-serif;
 font-size: 18px;}

/*---------------------------------------
   3.3 BUTTONS
-----------------------------------------*/
.btn:focus,
.btn:active,
.btn,
.open .dropdown-toggle.btn {
	outline: inherit;
	border-color: inherit;
}

.standard-button {
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 0;
	padding: 15px 30px;
	border: 0;
	margin: 5px;
	line-height: inherit;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}
.standard-button{
	background-color: #b3a06e !important; color: #000000; text-transform: none;
}
.footer-block{
    	margin: 20px;
    }
	
.where-to{color:#b3a06e; font-size:37px;font-family:Georgia, "Times New Roman", Times, serif; padding-top: 25px;}
.where-to-find {
	font-family: 'Georgia', serif;
	color: #fff;
	font-size: 24px;
	font-weight: normal;
}


.secondary-button {
	font-family: 'Lucida Grande', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 15px 30px;
	border: 0;
	margin: 5px;
	border: 1px solid #727272;
	color: #323232;
	background: #ffffff;
	line-height: inherit;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}

.secondary-button-white {
	font-family: 'Lucida Grande', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 14px 30px;
	border: 0;
	margin: 5px;
	border: 1px solid #727272;
	color: #ffffff;
	background: transparent;
	line-height: inherit;
	border: 1px solid rgba(255,255,255,0.5)
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}

.secondary-button-white:hover {
    border: 1px solid rgba(255,255,255,1);
    color: #ffffff;
}

/* --------------------------------------
=========================================
   4. SECTION SPECIFIC CSS
=========================================
-----------------------------------------*/

section {
    padding-top: 100px;
    /*margin-top: -200px;*/
}

#about-baxters{padding-top:0px !important;}


/*---------------------------------------
   4.1 SECTIONS PADDING AND COLOR OVERLAY
-----------------------------------------*/
.section1,
.section2,
.section3,
.section4,
.section5,
.section6,
.section7 {
	padding-top: 75px;
	padding-bottom: 30px;
	width: 100%;
}
.section3{
  padding-bottom: 0px;
}
.section12 {
padding-top:0px !important;
background-color:#000000;
}

.section5{padding-top:20px !important;}
.section6{padding-top:30px !important;}
.color-overlay {
	/*background: rgba(0, 0, 0, 0.6);*/
}

.col-md-4 p{
	color: #865d33;
	font-size: 17px;
	font-family: "Lucida Grande",sans-serif;
}

.list-block li{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
    text-align: left;
    line-height: 30px;
	color:#b3a06e;
}
.list-block a{
text-decoration:none;
color:#b3a06e;
}
.list-block  a:active{
color:#ffffff;
}
/*========================================
   4.2 SECTION: HOME
==========================================*/

/*---------------------------------------
   4.2.1 BASIC STYLES
-----------------------------------------*/
header {
	background: url(../images/header_img.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	width: 100%;
}

header .vertical-registration-form {
	margin-top: 60px;
}

.navigation-header .container {
	width: 100% !important;
}


.intro-section {
	margin-bottom: 250px;
	/*margin-top: 150px;*/
}

.intro {
	color: #ffffff;
}



.intro-section .sub-heading {
    font-size: 20px;
    padding-right: 10%;
    padding-left: 10%;
    color: #b70e0c;
    margin-top: 40px;
    line-height: 30px;
}
.sub-heading {
	color: #b70e0c;
	font-size: 24px;
	padding-top: 40px;
	line-height: 35px;
	font-family: "Lucida Grande",sans-serif;
}
.button-container {
    margin-top: 135px;
    margin-bottom: 25px;
}
#cta-5 img {
	width: 90% !important;
	position: relative;
    top: 40px;
}

.signature {padding-left:100px;}
.section-button{padding-bottom: 30px;}

/*---------------------------------------
   4.2.2 NAVIGATION
-----------------------------------------*/

/* NAV RESETS */
.navbar-nav > li > a:hover {
	background: inherit;
}

.nav li a {
	padding: 10px 10px;
}

/* NORMAL NAVIGATION WITH SOCIAL ICON AND LOGO ONLY */
.non-sticky .navbar-nav.navbar-right:last-child {
	margin-right: 0;
}

.non-sticky .navbar-nav > li > a {
	font-size: 20px;
	padding: 0;
	padding-left: 5px;
	padding-top: 3px;
	color: #ffffff;
}

/* STICKY NAVIGATION */
.sticky-navigation, .non-sticky {
	min-height: 160px;
	background: #ffffff;
	-webkit-backface-visibility: hidden;
	border: 0;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
}

/* Center the navigation */
.navbar-header {
  	max-width: 1105px !important;
    width: 100%;
    margin: 0 auto !important;
    float: none !important;
    text-align: center !important;
}

.sticky-navigation .main-navigation {
	padding-top: 30px;
}

.sticky-navigation .main-navigation .current a, .non-sticky .main-navigation .current a {
	-webkit-backface-visibility: hidden;
	outline: inherit;
	position: relative;
}

.sticky-navigation .navbar-nav > li > a, .non-sticky .navbar-nav > li > a  {
	font-family: 'Lucida Grande', sans-serif;
	font-size: 16px;
	color: #000000;
	text-transform: none;
}

.navbar-nav > li > a:hover {
	color: #b3a16f !important;
}

.nav-left, .nav-right {
	display: inline-block !important;
	width: 380px;
	float: left;
}

.nav-left {
	border-bottom: 1px solid #b3a06e;
	text-align: right;
}

.nav-center {
	float: left;
}

.nav-right {
	border-bottom: 1px solid #b3a06e;
	text-align: left;
	width: 285px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0px;
}
.navbar-brand, .nav-center {
	width: 280px;
	padding: 0;
  margin: 0 10px;
}
.nav-center {
  padding-top: 15px;
}
.navbar-brand img {
	padding-right: 20px;
	padding-left: 20px;
  width: 100%;
}


.navbar-inverse .navbar-toggle {
    border-color: #b3a16f;
    background-color: #b70d0d;
}


/*========================================
   4.3 SECTIONS
==========================================*/

.section3{
	background: url(../images/bk-img-02.jpg) no-repeat left top;
}
.section4{
	background: url(../images/bk-img-03.jpg) no-repeat right top;

}

/* Offset the anchors by the menu's height */
#products, #about-baxters, #baxters-for-home, #contact-us {
	/*padding-top:350px;
	margin-top:-350px;*/
}

/*---------------------------------------
   4.3.1 BASIC STYLES
-----------------------------------------*/
.side-screenshot,
.side-screenshot2 {
	max-width: 532px;
}

.brief h2 {
	margin-top: 0;
	margin-bottom: 10px;
}

.brief p {
	margin-top: 45px;
}

.scrollToTop{
	position: fixed;
  z-index: 1;
	bottom: 0;
	right: 0;
	float: right;
	background: url(../images/top-icon.png) no-repeat 0px 10px;
	width: 100px;
	height: 100px;

}

/* MODAL */

.modal-header, .modal-footer {
	border: none;
}
.modal-header {
  position: relative;
  width: 100%;
  float: left;
  z-index: 10000;
}

.modal h2 {
	font-size: 55px;
	margin: 10px 0 40px;
}

.modal h3 {
	font-size: 48px;
	margin: 40px 0 20px 0;
	font-weight: 100;
}

.modal .close {
	font-size: 65px;
	font-weight: 100;
	line-height: 0.5;
	color: #444;
}

#privacy-policy p {
	text-align: justify;
	font-size: 14px;
}

#privacy-policy li{list-style: inherit !important; margin-left: 20px; text-align: left !important; padding-bottom: 10px; font-size: 14px;}

#privacy-policy h2{font-size: 35px !important;}
#privacy-policy h3{text-align: left; font-size: 18px;}

#privacy-policy .alpa-numbered {margin-left: 30px !important; font-size: 14px;}

#privacy-policy .roman-numbered  {margin-left: 60px !important; font-size: 14px; }

#privacy-policy .normal-list{list-style-type: square; margin-left: 30px; font-size: 14px;}

.legal {
	font-size: 16px;
	margin-bottom: 10px;
}

.legal:first-child {
	margin-top: 25px;
}


/*---------------------------------------
   4.3.2 FEATURE LIST
-----------------------------------------*/

.feature-list-2 {
	margin-top: 25px;
}

.feature-list-2 li {
	overflow: auto;
	padding-top: 12px;
	padding-bottom: 12px;
}

.product-img {
	/*width: 100%;*/
}

.feature h4 {
	font-weight: normal;
	font-size: 30px;
	padding: 40px 0 10px 0;
}

.section3 {
	background-size: 100%;
}

.container-footer{background: url(../images/where-to-buy-bg-img.jpg) no-repeat left bottom;}
.container span{color: #ffffff; font-size: 18px; text-decoration: underline;}
.container .footer-img{padding-bottom: 50px;}
.places{width: 33.333%; display: inline-block;float: left; padding-top: 50px;}
.places img {
  width: 100%;
}
.collapse1 {width: 50%; float: left;}
.collapse2 {width: 50%; float: right;}
.feature-list-2 li .icon-container {
	width: 32px;
	height: 32px;
	border-radius: 3px;
	color: #ffffff;
	line-height: 32px;
	margin-right: 15px;
	margin-top: 5px;
	text-align: center;
}

.feature-list-2 li .details {
	width: 89%;
}

.feature-list-2 li .details p {
	margin-top: 5px;
}


/*========================================
   4.4 SECTION: FEATURES
==========================================*/
.features {
	/*margin-top: 100px;*/
	margin-left: 100px;
  	margin-right: 100px;
}

.feature {
	margin-top: 40px;
	margin-bottom: 35px;
}

.feature .icon {
	font-size: 50px;
	margin-bottom: 30px;
}

.feature h4 {
	margin-bottom: 10px;
}


/*========================================
   4.5 SECTION: PRICING TABLE
==========================================*/
.pricing-table {
	margin-top: 35px;
}

.package {
	overflow: auto;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	margin-top: 40px;
}

.package .header {
	padding-top: 20px;
	padding-bottom: 20px;
}

.package .header h3 {
	color: #ffffff;
}

.package-features .column-9p {
	width: 90%;
	float: left;
	text-align: left;
}

.package-features .column-1p {
	width: 10%;
	float: right;
	text-align: right;
	color: #323232;
}

.package-features .column-7p {
	width: 60%;
	float: left;
	text-align: left;
}

.package-features .column-3p {
	width: 40%;
	float: right;
	text-align: right;
}

.package-features ul li {
	overflow: auto;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 35px;
	padding-left: 35px;
	border-bottom: 1px dotted #e3e3e3;
}

.package-features .bottom-row {
	overflow: auto;
	padding-top: 8px;
	padding-bottom: 17px;
	padding-right: 35px;
	padding-left: 35px;
}

.package-features .bottom-row h6 {
	padding-top: 5px;
}

.package-features .bottom-row .secondary-button,
.package-features .bottom-row .standard-button {
	margin: 0;
	padding: 7px 15px;
	vertical-align: middle;
}

.cta-section9{background-color: #ffffff;}
.cta-section9 p{font-size: 24px; color: #865d33; padding-top: 40px; font-weight: bold; float: left; width: 100%; text-align: center;}

.cta-section10{/*background: url(../images/where-to-buy-bg-img.jpg) no-repeat left bottom; width: 100%; height: 253px;*/}
.cta-section11 {background: url(../images/footer-logo.jpg) no-repeat center top; background-color: #000000; height: 221px; width: 100%; padding-top: 40px;}

.contact-us h1{font-size: 48px; color: #b3a06e !important;}

/*========================================
   4.6 SECTION: VIDEO
==========================================*/
/*---------------------------------------
   4.6.1 BASIC STYLE / RESET
-----------------------------------------*/
video {
	max-width: 100%;
	height: auto;
}

iframe,
embed,
object {
	max-width: 100%;
}

.video-container {
	width: 100%;
	background: #ffffff !important;
	margin-top: 75px;
}

.video {
	background: #ffffff !important;
}


/*---------------------------------------
   4.6.2 VIDEO FEATURES
-----------------------------------------*/
.video-features {
	margin-top: 40px;
}

.video-features .inline-icon {
	padding-right: 5px;
}


/*========================================
   4.7 SECTION: SCREENSHOTS
==========================================*/
.screenshots {
	margin-top: 68px;
}

.shot {
	margin: 10px;
	border-radius: 3px;
	border: 5px solid #ffffff;
}

.shot img {
	max-width: 100%;
	width: 100%;
}

.shot img:hover {
	cursor: crosshair;
	opacity: 0.8;
}


/*========================================
   4.8 SECTION: CLIENTS AND FEEDBACKS
==========================================*/
/*---------------------------------------
   4.8.1 CLIENTS LOGO
-----------------------------------------*/
.clients {
	margin-top: 35px;
}

.client-logos li {
	display: inline-block;
	vertical-align: middle;
	margin: 15px;
}

/*---------------------------------------
   4.8.2 FEEDBACKS
-----------------------------------------*/

.testimonials {
	margin-top: 15px;
}

.single-feedback {
	position: relative;
	margin-top: 20px;
}

.single-feedback .client-pic {
	width: 48px;
	height: 48px;
	margin: auto;
	position: relative;
	margin-bottom: -24px;
	z-index: 999;
	border: 3px solid #ffffff;
	box-shadow: 0px 0px 0px 3px #f7f8fa;
}

.single-feedback .client-pic img {
	max-width: 100%;
}

.single-feedback .box {
	margin-right: 15px;
	margin-left: 15px;
	border-radius: 3px;
	position: relative;
	background: #f7f8fa;
	padding-top: 20px;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 0.75);
	-moz-box-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 0.75);
	box-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 0.75);
}

.single-feedback .box .message {
	padding: 25px;
	font-style: italic;
}

.single-feedback .box:after,
.single-feedback .box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.single-feedback .box:after {
	border-color: rgba(247, 248, 250, 0);
	border-top-color: #f7f8fa;
	border-width: 15px;
	margin-left: -15px;
}

.single-feedback .box:before {
	border-color: rgba(229, 229, 229, 0);
	border-top-color: #e5e5e5;
	border-width: 16px;
	margin-left: -16px;
}

.single-feedback .client-info {
	margin-top: 30px;
}

.single-feedback .client-info .client-name {
	line-height: 20px;
}

.single-feedback .client-info .company {
	font-size: 13px;
}


/*========================================
   4.9 SECTION: CALL TO ACTION
==========================================*/
/*---------------------------------------
   4.9.1 CALL TO ACTION WITH TEXT/BUTTON
-----------------------------------------*/
.cta-section {
	background: url(../images/bg-image-2.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	height: auto !important;
	width: 100% !important;
}

.cta-section h4 {
	color: #ffffff;
}
.cta-section h1{color: #b3a06e;}

.cta-4{
	display: inline-block;
	width: 50%;
	padding: 40px;
	color: #ffffff;
	float: left;
	text-align: left;
}

.cta-4 p{line-height: 30px; padding-top: 35px; font-size: 20px; font-family: "Lucida Grande",sans-serif;}

.cta-section h2 {
	color: #ffffff;
	font-weight: 700;
	margin-top: 15px;
	margin-bottom: 40px;
}

.cta-section h3 {
	color: #ffffff;
}

.cta-section .color-overlay {
	padding-top: 100px;
	padding-bottom: 125px;
}


/*---------------------------------------
   4.9.2 SUBSCRIBE FORM
-----------------------------------------*/
.subscribe-section {
	margin-top: 75px;
}

.subscription-form .input-box {
	width: 300px;
	margin-top: 25px;
	margin-bottom: 25px;
	height: 55px;
	border-radius: 3px;
	font-size: 16px;
	color: #000000;
	box-shadow: inherit;
}

.subscription-success,
.subscription-error {
    color: #FFFFFF;
}

/*========================================
   4.10 SECTION: CONTACT US
==========================================*/
/*---------------------------------------
   4.10.1 BASIC STYLES
-----------------------------------------*/
.contact-us {
	padding-top: 55px;
	padding-bottom: 75px;
	background-color: #000000;
}
.contact-us h3{color: #ffffff; font-size: 18px; font-family: "Lucida Grande",sans-serif; font-weight: normal;}

.contact-form .field-wrapper{text-align: left; color: #ffffff; font-size: 16px;}

.contact-us .heading {
	margin-bottom: 10px;
}

.contact-link {
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 50px;
}

.contact-link:hover {
	text-decoration: none;
}

.contact-link span {
	margin-right: 10px;
}

#cf-submit {
	width: 230px;
	min-height: 50px;
	font-size: 18px;
	margin: 30px 0 0 0;
	padding: 0;
}

#cf-submit2 {
	width: 230px;
	min-height: 50px;
	font-size: 18px;
	margin: 30px 0 0 0;
	padding: 0;
	background-color: #bb141a !important;
	color: #fff;
}


/*---------------------------------------
   4.10.2 CONTACT FORM
-----------------------------------------*/
.contact-form {
	margin-top: 25px;
}

.contact-form .success1,
.contact-form .success2,
.contact-form .error1,
.contact-form .error2 {
	display: none;
}
.contact-form .success1,
.contact-form .success2 {
  height: 380px;
  padding-top: 60px;
}

.contact-form .input-box,
.contact-form .textarea-box {
	margin-bottom: 15px;
	/*margin-top: 15px;*/
	outline: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #bbbbbb;
	border-radius: 0;
	color: #595959;
	padding-left: 12px;
	font-size: inherit;
	line-height: auto;
	background-color: #efefef;
}

#contact2 .input-box, #contact2 .textarea-box {
	color: #999999;
	background-color: #363636;
}

.contact-form .input-box {
	min-height: 50px;
}

.contact-form .textarea-box {
	min-height: 145px;
	height: 145px;
	-webkit-backface-visibility: hidden;
}

.contact-form .input-box:active,
.contact-form .textarea-box:active,
.contact-form .input-box:focus,
.contact-form .textarea-box:focus {
	color: #927053;
}

#contact2 .input-box:active,
#contact2 .textarea-box:active,
#contact2 .input-box:focus,
#contact2 .textarea-box:focus {
	color: #fff;
}

.contact-form .btn {
	margin-top: 25px;
}

label {
	color: #e5e5e5;
	text-align: left;
	font-weight: normal;
}

#contact2 label{
	color: #000;
}
.legal a {
  color: #b3a06e;
}
.legal span {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

/*========================================
   4.11 SECTION: FOOTER
==========================================*/
footer {
	padding-top: 75px;
	padding-bottom: 75px;
}

.footer-logo {
	max-width: 180px;
	margin: auto;
}

.copyright {
	margin-top: 15px;
	margin-bottom: 15px;
}

.social-icons li {
	display: inline;
	margin: 2px;
}

.social-icons li a {
	font-size: 25px;
	color: #919191;
}

.social-icons li a:hover {
	text-decoration: none;
}
