/* --------------------------------------
=========================================
COLOR : BAXTERS 

MAIN COLOR CODE: #865d33

DEEP COLOR CODE: #b70d0d
=========================================
----------------------------------------- */
.colored-line {
  background: #865d33;
}
.colored-text {
  color: #865d33 !important;
}
.color-bg {
  background: #865d33;
}
a {
  color: #865d33;
}
.non-sticky .navbar-nav > li > a:hover {
  color: #865d33;
}
.standard-button {
  background: #865d33;
  color: #ffffff;
}
.standard-button:hover {
  color: #ffffff;
  background: #0186ca;
}
.secondary-button:hover {
  color: #865d33;
  border-color: #865d33;
}
.sticky-navigation .main-navigation .current a {
  color: #865d33 !important;
}
.sticky-navigation .navbar-nav > li > a:hover {
  color: #865d33;
}
.feature-list-1 li .icon-container {
  background: #865d33;
}
.feature-list-2 li .icon-container {
  background: #865d33;
}
.feature .icon {
  color: #865d33;
}
.vertical-registration-form .input-box {
  border-top: 1px solid rgba(0, 142, 214, 0.4);
  border-bottom: 1px solid rgba(0, 142, 214, 0.4);
  border-right: 1px solid rgba(0, 142, 214, 0.4);
  border-left: 3px solid #865d33;
}
.vertical-registration-form .input-box:focus,
.vertical-registration-form .input-box:active {
  border-color: #865d33;
}
.subscription-form .input-box:focus,
.subscription-form .input-box:active {
  border-left: 3px solid #865d33 !important;
}
.input-box:active,
.textarea-box:active,
.input-box:focus,
.textarea-box:focus {
  border-left: 3px solid #865d33 !important;
}
.screenshots .owl-theme .owl-controls .owl-page span {
  background: #865d33;
}
.contact-link {
  color: #865d33;
}
.contact-link:hover {
  color: #b70d0d;
}
.social-icons li a:hover {
  color: #865d33;
}
